{{define "Q"}}
<!doctype html>
<html lang="en">

<head>
    <title>Fence tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">

    <link rel="shortcut icon" href="/images/gd.png">

    <link rel="stylesheet" href="./css/fencegrid.css ">
    <link rel="stylesheet" href="./css/nav.css ">
    <link rel="stylesheet" href="./css/componentshowcase.css ">

    <!-- use google  font -->
    <link href="//fonts.googleapis.com/css?family=Open Sans&subset=latin" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>

    <!-- Load the custom elements-->
    <script src="js/components/gd-logo.js"></script>
    <script src="js/components/gd-fileext.js"></script>
    <script src="js/components/gd-keywords.js"></script>
    <script src="js/components/gd-citation.js"></script>
    <script type="module" src="js/components/gd-simpleget.js"></script>
    <script type="module" src="js/components/gio-tangram.js"></script>
    <script type="module" src="js/components/gd-map.js"></script>
    <script type="module" src="js/components/gd-openlayers.js"></script>


  <script src="https://unpkg.com/rbush@2.0.1/rbush.js"></script>
      <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">

    <script type="application/ld+json">
        {{.}}
    </script>

</head>

<body>
    <div class="grid ">
        <div class="title ">
            <nav class="container">
                <div class="m1">
                    <a href="http://gleaner.io" class="navLinks">Gleaner.io</a>
                </div>
            </nav>
        </div>
        <div class="header">
            <h1>Fence</h1>
        </div>
        <div class="lsidebar"> </div>
        <div class="sidebar"> </div>

        <div class="content">
            <div>
                <form action="/fence" method="get">
                    <div>
                        <label for="url">URL:</label>
                        <input type="text" id="url" name="url">
                    </div>
                </form>

                <div style="margin:30px">
                    <p>About:</p>
                    It access the URL and attempts to extract a JSON-LD schema.org package from the provided URL.  You can 
                    try examples from <a href="./fence?url=http://opencoredata.org/doc/dataset/b8d7bd1b-ef3b-4b08-a327-e28e1420adf0">Open Core Data example</a> 
                        or this <a href="./fence?url=https://www.bco-dmo.org/dataset/722472">BCO-DMO example.</a> 


                </div>

            </div>

            <div id="container1">

                <div class="cebox">
                    OpenLayers Test (not working, just a  place holder for now):</br><br>
                    <geodex-olmap></geodex-olmap>
                </div>

                <div class="cebox">
                   Gleaner.io Tangram call (recommened):</br><br>
                    <gleaner-tangram google-shape="required"></gleaner-tangram>
                </div>

                <div class="cebox">
                    Gleaner.io Tangram call (required):</br><br>
                     <gleaner-tangram google-shape="recommended"></gleaner-tangram>
                 </div>

                <!-- <div class="cebox">
                    RESTful GET (a static call, always the same..  just testing cors) </br><br>
                    <geodex-simpleget></geodex-simpleget>
                </div> -->


                <!-- <div class="cebox">
                    <div>
                        Map:</br><br>
                        <geodex-map></geodex-map>
                    </div>
                </div> -->


                <div class="cebox">
                    Keywords from obj.keywords:<br><br>
                    <geodex-keywords></geodex-keywords>
                </div>

                <div class="cebox">
                    Citation Test (ref: <a
                        href="http://commons.esipfed.org/node/308">http://commons.esipfed.org/node/308</a>):
                    <br><br>
                    <geodex-citation></geodex-citation>
                </div>

                <div class="cebox">
                    <p> Web component to make SVG with obj.distribution.contentUrl link (green check mark should link to content URL)<br><br>
                        <geodex-logo></geodex-logo>
                    </p>
                </div>

                <div class="cebox">
                    <p> Web component to make SVG with obj.name extension<br><br>
                        <div style="width:75px">
                            <geodex-fileext></geodex-fileext>
                        </div>
                    </p>
                </div>


            </div>


            <div id="container2">
                <hr> The resource's JSON-LD entry is displayed below and can be viewed in the
                <a target="_blank" href='https://json-ld.org/playground/#startTab=tab-expanded&json-ld={{.}}'> JSON-LD
                    Playground</a>
                <hr>
                <pre>
				 <code>
					 {{.}}
				 </code>
				 </pre>
            </div>

        </div>
        <div class="footer ">
            <small>Project 418 is funded by the National Science Foundation through the EarthCube Science Support Office
                (ESSO)</small>
        </div>
    </div>
</body>

</html>
{{end}}
